<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>This app needs access to your documents to understand about your health</string>
	<key>NSCamera Usage Description</key>
	<string>This app uses the camera to take pictures of food for nutritional analysis</string>
</dict>
</plist>
